@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

h1, h2, h3, h4, h5{
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}

p, label{
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.as{
    background-color: #15253F;
}

.agus-maxi{
    width: 100vw;
}

@media screen and (max-width: 1450px) {
    .agus-maxi{
        display: block;
        text-align: center;
    }
    
    .agus-maxi-child-div{
        margin: auto !important;
        width: 90vw !important;
        text-align: center;
    }
}

@media screen and (max-width: 1450px) {
    .tit{
        margin: auto !important;
        width: 90vw !important;
        text-align: center;
    }
}

@media screen and (max-width: 800px) {
    .agus-maxi{
        margin: auto !important;
        padding-left: 0px !important;
        padding-right: 0px !important;
        justify-content: center !important;
        width: 90vw !important;
    }

    .agus-maxi-child-div{
        margin-right: 50px !important;
    }
}