@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

h1, h2, h3, h4, h5{
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}

p, label, button, a{
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.forms{
    overflow-y: scroll;
}

.forms::-webkit-scrollbar-thumb{
    background-color: #9b61ff;
  }
  
.forms::-webkit-scrollbar{
    width: 7px;
    background-color: #5930a0;
  }