:root {
    --violet: #6f20f0;
    --white: #ffffff;
  }

.leer-mas:hover{
    background-color: var(--violet);
    transform: translateY(-2px);
    transition: all .5s;
}

.blog-img{
  box-shadow: 2px 4px 7px 1px rgba(0,0,0,0.75);
  -webkit-box-shadow: 2px 4px 7px 1px rgba(0,0,0,0.75);
  -moz-box-shadow: 2px 4px 7px 1px rgba(0,0,0,0.75);
}

.leer-blog img{
  width: 70vw;
}
.leer-blog h1{
  font-size: 34px;
}

.leer-blog p{
  font-size: 14px;
}

.leer-desc{
  width: 70vw;
}