@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #0a0a0a;
  --foreground: #ededed;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }

  body{
    color: var(--foreground);
    background: var(--background);
    font-family: Arial, Helvetica, sans-serif;
    overflow-x: hidden;
  }
}

html, body{
  scroll-behavior: smooth;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  overflow-x: hidden;
}

body::-webkit-scrollbar-thumb{
  background-color: #9b61ff;
}

body::-webkit-scrollbar{
  width: 7px;
  background-color: #d224ff;
}


.icon:hover{
  color: #d224ff;
  transition: color .5s;
}

.buy-ticket input{
  width: 280px !important;
}

.buy-ticket input {
  border: 1px solid #302e5f;
  background-color: transparent;
  border-radius: 5px;
  padding-left: 3px;
  height: 40px;
  width: 400px;
  box-shadow: 2px 1px 5px 0px rgba(0,0,0,0.75);
  -webkit-box-shadow: 2px 1px 5px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 2px 1px 5px 0px rgba(0,0,0,0.75);
  outline: none;
}

@media screen and (max-width:655px) {
  .foo-img{
    width: 150px !important;
  }
  
}

@media screen and (max-width:500px) {
  .buy-ticket{
    padding-left: 20px;
    padding-right: 20px;
  }

  .buy-ticket-form > div input{
   width: 300px !important;
  }

  .evento-desc h1{
    font-size: 21px;
  }

  .evento-desc{
    padding-left: 10px;
    padding-right: 10px;
  }

  .evento-desc b, .evento-desc p{
    font-size: 17px;
  }
}