@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

h1, h2, h3, h4, h5{
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}

p, label{
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.background-opacity{
    top:0;
    bottom:0;
    left: 0;
    right: 0;
    background-color: black;
    opacity: .5;
}

.nav{
    height: 90px;
}

.loginb:hover{
    cursor: pointer;
    background-color: rebeccapurple;
    transform: translateY(-5px);
    transition: background-color, transform .5s;
}

.nav-link:hover{
    border-bottom: 1px solid white;
    animation: showBorder .5s;
    transform: translateY(-7px);
    transition: all .5s;
}

.list-services{
    top:60px;
    width: 320px;
    top: 100%;
    right: 0px;
    opacity: 0;
    transform: translateY(-20px); /* Se posiciona ligeramente arriba */
    visibility: hidden;
    transition: opacity .5s ease, transform .5s ease, visibility .5s ease;
    z-index: 3;
}

.services-link{
    height: 70px;
}


.services-link:hover{
    cursor: pointer;
    background-color: #403281;
    transition: background-color .5s;
}
.cc:hover .list-services, .list-services:hover, .ccb:hover{
    opacity: 1;
    transform: translateY(0); /* Se mueve hacia su posición original */
    visibility: visible;
}

.reponsive-nav{
    width: 302px;
    z-index: 6;
}


@keyframes showBorder {
    0%{
        border-bottom: 1px solid white;
        border-width: 0%;
    }
    100%{
        border-width: 100%;
        opacity: 1;
    }
}

@media screen and (max-width:850px) {
    .services-link:hover{
        cursor: pointer;
    }
}

/*.forms{
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}*/
