.serv-first-secundary{
    width: 500px;
}

.as{
    background-color: #15253F;
}

.servicios-container{
    width: 90vw;
}

.servicios{
    width: 24vw;
}

.ss{
    background-color: #334663;
}

.ssb{
   background-color: #0e2346
}

.ssb > div{
    width: 35vw;
}

.somos-agencia{
    background-color: black;
    background-image: url("../assets/fondoA.png");
}

.publicidad-online{
    height: 600px;
    object-fit: cover;
    filter: brightness(.5);
}

.publicidad-online-text{
    top:30%;
    bottom:50%;
    left: 50%;
    transform: translate(-50%);
}

.publicidad-online-text button:hover{
    background-color: white;
    color:#6937BE;
    transition: all .5s;
}